<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.gov.chinatax.gt4.swrdsm.mapper.zdycx.ZdycxScjMapper">

    <resultMap id="BaseResultMap" type="cn.gov.chinatax.gt4.swrdsm.pojo.domain.zdycx.ZdycxScj">
        <result column="id" property="id" />
        <result column="bd_dms" property="bdDms"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="bd_glgx_lx" property="bdGlgxLx" />
        <result column="bd_glgxs" property="bdGlgxs"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="bd_kxtj_label" property="bdKxtjLabel"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="bd_kxtj_value" property="bdKxtjValue"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="bd_mhtj" property="bdMhtj" />
        <result column="bd_zsls" property="bdZsls"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="lrr_dm" property="lrrDm" />
        <result column="lrrswjg_dm" property="lrrswjgDm" />
        <result column="lrsj" property="lrsj" />
        <result column="scmc" property="scmc" />
        <result column="xgr_dm" property="xgrDm" />
        <result column="xgrswjg_dm" property="xgrswjgDm" />
        <result column="xgsj" property="xgsj" />
        <result column="yxbz" property="yxbz" />
    </resultMap>

    <!-- 表字段 -->
    <sql id="Base_Column_List">
        db_dms, db_glgx_lx, db_glgxs, db_kxtj_label, db_kxtj_value, db_mhtj, db_zsls, id, lrr_dm, lrrswjg_dm, lrsj, scmc, xgr_dm, xgrswjg_dm, xgsj, yxbz
    </sql>

    <select id="getZdycxScjs" resultType="cn.gov.chinatax.gt4.swrdsm.pojo.dto.zdycx.ZdycxScjDto">
        select
        t.id,
        t.scmc,
        t.lrr_dm,
        t.lrrswjg_dm,
        t.lrsj,
        t.xgr_dm,
        t.xgrswjg_dm,
        t.xgsj,
        t.yxbz
        from
        zdycx_scj t
        <where>
            <if test="form.lrrDm != null and form.lrrDm != ''">
                and t.lrr_dm = #{form.lrrDm}
            </if>
            <if test="form.scmc != null and form.scmc != ''">
                and t.scmc = #{form.scmc}
            </if>
            and t.yxbz = 'Y'
        </where>
    </select>

    <select id="getZdycxScj" resultMap="BaseResultMap">
        select
        t.id,
        t.scmc,
        t.bd_dms,
        t.bd_glgx_lx,
        t.bd_glgxs,
        t.bd_kxtj_label,
        t.bd_kxtj_value,
        t.bd_mhtj,
        t.bd_zsls,
        t.lrr_dm,
        t.lrrswjg_dm,
        t.lrsj,
        t.xgr_dm,
        t.xgrswjg_dm,
        t.xgsj,
        t.yxbz
        from
        zdycx_scj t
        <where>
            t.id = #{id}
        </where>
        limit 1
    </select>
</mapper>